{% extends "facebook/share/SharePostIncluded/sharePost.tpl"%}
{% block data %}
    https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse
{% endblock %}
