<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5" async></script>
<div class="fb-post"
   data-href="{% block data %}{% endblock %}"
   data-width="{% block size %}500{% endblock %}"></div>
